@use "../app.scss";

//wrapper
.body-home {
  display: flex;
  flex-direction: column;
  height: 60vh;
  gap: 4rem;
}

//styles for splash text 
.body-home-splash-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: app.$text-color;

  margin-top: 20vh;

  h1 {
    margin: 0;

    font-size: 3rem;
    font-weight: 700;
  }

  h2 {
    margin: 0;

    font-size: 2rem;
    font-weight: 400;
  }
}

//styles for splash buttons
.body-home-splash-buttons
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  
  font-family: app.$font-family, sans-serif;

  //get started button
  #get_started
  {
    border: none;
    background-color: app.$primary-color;
    padding: 10px 40px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 25px;

    p {
      padding: 0;
      margin: 0;
    }
  }

  //learn more button
  #learn_more
  {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
  }

}