@use "../app.scss";


.file-viewer {
    position: relative; /* Add this line */
    flex: 1;
    border-right: 1px solid black;
    height: 100vh;
    min-width: 250px;
    max-width: 250px;
    z-index: 1;
    top: 0;
    left: 0;
}



.file-viewer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;

    button {
        font-size: 15px;
        border: none;
        background-color: app.$neutral-dark;
        color: white;
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}



.new-note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    .new-note-fields {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;


        input {
            width: 60%;
            padding: 3px;
            font-family: app.$font-family;
            font-size: 1rem;
        }

    }

    .new-note-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 60%;

        button {
            cursor: pointer;
            border: none;
            background-color: app.$neutral-dark;
            color: white;
            padding: 3px 8px;
            border-radius: 5px;
            font-size: 1rem;
        }
    }
}




// sidebar toggle button
.sidebar-button {
    position: absolute;
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Ensure it's centered vertically */
    left: 100%; /* Move to the right of the sidebar */
    z-index: 5; /* Ensure it's above other elements */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}