@use "../app.scss";


.file-viewer-header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;

    button {
        font-size: 15px;
        border: none;
        background-color: app.$neutral-dark;
        color: white;
        padding: 5px 10px;
        border-radius: 10px;
    }

}

#note-list
{
    list-style-type: decimal-leading-zero;
}