@use "../app.scss";

.note {
  padding: 5px 10px;
  margin: 10px;
  border: 1px solid app.$neutral-light;
  border-radius: 10px;
  background-color: app.$neutral-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .note-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }

  .note-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  h2 {
    font-size: 1.25rem;
  }

  button {
    font-size: 15px;
    border: none;
    background-color: app.$neutral-dark;
    color: white;
    border-radius: 10px;
    display: none;
    padding: 5px;
    align-self: center;
    cursor: pointer;
  }

  &:hover {
    background-color: lightgray;
    cursor: pointer;
    transition: all 0.3s;

    button {
      display: block;
    }
  }
}
