$background-color: #FBFDFD;
$primary-color: #4FBA89;
$secondary-color: #9AADD7;
$accent-color: #787DCA;
$text-color: 0B1C1A;

body {
    margin: 0;
    padding: 0;
    height : 100%;

    background-color: $background-color;

}
