@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

$background-color: #FBFDFD;
$primary-color: #4FBA89;
$secondary-color: #9AADD7;
$accent-color: #787DCA;
$text-color: #0B1C1A;
$font-family: "Bricolage Grotesque";

body {
    margin: 0;
    padding: 0;
    height : 100%;

    font-family: $font-family, sans-serif;

    background-color: $background-color;

}
